@import 'sizes';

%container {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 2 * $em;
  @media all and (max-width: $width) {
    padding: .5 * $em;
  }
}

* {
  box-sizing: border-box;
  font-family: monospace;
  position: relative;
}

body {
  font-size: $em;
}

a {
  color: inherit;
}

p {
  margin-bottom: 2em;
  margin-top: 2em;
}

article {
  @extend %container;
}

%noprint {
  @media print {
    display: none;
  }
}

.noprint { @extend %noprint; }
