@import 'basics';

* {
  box-sizing: border-box;
  font-family: monospace;
}

a {
  color: inherit;
}

p {
  margin-bottom: 2em;
  margin-top: 2em;
}

article {
  width: 24 * $em;
  text-align: center;
}

@media print {
  .noprint {
    display: none;
  }
}

hr {
  width: 25%;
  margin-top: 6em;
  margin-bottom: 6em;
  height: .1 * $em;
  background-color: black;
  border: 0;
}
