@import 'colors';
@import 'basics';
@import 'youtube';

article {
  text-align: center;
  width: 24 * $em;
}

@media print {
  .noprint {
    display: none;
  }
}

hr {
  background-color: $black;
  border: 0;
  height: .1 * $em;
  margin-bottom: 6em;
  margin-top: 6em;
  width: 25%;
}

.video {
  @extend %container;
  text-align: center;
  width: 48 * $em;

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .col {
    float: left;
    margin: 0 auto;
    max-width: 100%;
    padding: $em;
    width: .3 * 48 * $em;

    .bad,
    .good {
      bottom: .5 * $em;
      color: $white;
      font-size: .7 * $em;
      position: absolute;
      right: .5 * $em;
    }

    iframe {
      padding: 0;
    }

    .good {
      background-color: $green;
    }

    .bad {
      background-color: $red;
      text-decoration: line-through;
    }
  }
}

button {
  background-color: $blue;
  border: 0;
  border-radius: .2 * $em;
  color: $white;
  cursor: pointer;
  font-size: $em;
  padding: .5 * $em;
}
