@import 'colors';
@import 'basics';

article {
  text-align: center;
  width: 24 * $em;
}

@media print {
  .noprint {
    display: none;
  }
}

hr {
  background-color: $black;
  border: 0;
  height: .1 * $em;
  margin-bottom: 6em;
  margin-top: 6em;
  width: 25%;
}

.video {
  @extend article;
  position: relative;
  width: 48 * $em;

  .col{
    float: left;
    margin: 0 auto;
    max-width: 100%;
    padding: $em;
    position: relative;
    width: .3 * 48 * $em;

    iframe {
      padding: 0;
      border: 0;
      width: 100%;
    }
  }
}

button {
  color: $white;
  cursor: pointer;
  font-size: $em;
  padding: .5 * $em;
  border-radius: .2 * $em;
  background-color: $blue;
  border: 0;
}
