@import 'sizes';
@import 'colors';
@import 'basics';
@import 'youtube';
@import 'table';
@import 'forms';

body {
  font-size: .7 * $em;
}

article {
  width: 32 * $em;
  @media print {
    padding: 0;
    width: 100%;
  }
}

p {
  a {
    border-bottom: 1px solid lighten($gray, 25);
    color: inherit;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid $blue;
      color: $blue;
    }

    @media print {
      border-bottom: 0;
    }
  }
}

.data {
  background-color: $yellow;
  display: inline-block;

  &:before {
    content: '[';
    @media print {
      content: none;
    }
  }

  &:after {
    content: ']';
    @media print {
      content: none;
    }
  }

  @media print {
    border-bottom: 1px solid $black;
    color: lighten($gray, 25);
    font-size: 60%;
    line-height: 3em;
    min-width: 10 * $em;
  }
}

