!!! 5
%html{html}
  %head
    = input('pages/_head.haml')
    = css('plain.css')
    %title Page not found
    %meta{:name=>'description', :content=>'Page not found, try something else...'}
  %body
    %article
      = input('pages/_logo.haml')
      %p
        Page not found, we're sorry.
        Try our
        %a{:href=>'/'} index
        page.

