%html
  %head
    %title Page not found
    %link{:type => 'text/css', :href => 'css/index.css', :rel => 'stylesheet'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      %p
        %a{ :href => 'index.html' }
          %img{ :src => 'images/logo.svg', :alt => 'logo', :style => 'width:110px;height:110px;' }
      %p
        Page not found, we're sorry. Try our <a href="/">index</a> page.
