%html
  %head
    %title Page not found
    %link{:type=>'text/css', :href=>'css/index.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'Page not found, try something else...'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %p
        Page not found, we're sorry. Try our <a href="/">index</a> page.
