%meta{:charset=>'utf-8'}
%meta{:name=>'viewport', :content=>'width=device-width,minimum-scale=1,initial-scale=1'}
%meta{:name=>'keywords', :content=>'seed fund, venture capital, startup, seed investment'}
%meta{:name=>'published', :content=>day}
%link{:rel=>'shortcut icon', :href=>"/images/logo-64x64.png?#{revision}"}

- if amp
  %script{:type=>'application/ld+json'}
    :plain
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "...",
        "author": {
          "@type": "Person",
          "name": "Yegor Bugayenko"
        },
         "publisher": {
          "@type": "Organization",
          "name": "SeedRamp LLC.",
          "logo": {
            "@type": "ImageObject",
            "url": "http://www.seedramp.com/images/logo.png",
            "width": 100,
            "height": 100
          }
        },
        "description": "...",
        "keywords": ["seed fund", "venture capital", "startup", "seed investment"]
      }
  %style{'amp-boilerplate'=>''}
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
  %noscript
    %style{'amp-boilerplate'=>''}
      body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  %script{:async=>'async', :src=>'https://cdn.ampproject.org/v0.js'}
  %script{:async=>'async', 'custom-element'=>'amp-analytics', :src=>'https://cdn.ampproject.org/v0/amp-analytics-0.1.js'}
  %script{:async=>'async', 'custom-element'=>'amp-youtube', :src=>'https://cdn.ampproject.org/v0/amp-youtube-0.1.js'}

- if amp
  %link{:rel=>'canonical', :href=>"#{canonical}.html"}
- else
  %link{:rel=>'amphtml', :href=>"#{canonical}.amp.html"}
- if !amp
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1963507-40', 'auto');
    ga('send', 'pageview');
