%meta{:charset => 'UTF-8'}
%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
%meta{:name => 'keywords', :content => 'seed fund, venture capital, startup'}
%meta{:name => 'description', :content => 'seed tech investments done right'}
%link{:rel => 'shortcut icon', :href => 'images/logo-64x64.png'}
