%hr
%p
  <a href="https://twitter.com/seedramp">twitter</a>
  <a href="https://www.facebook.com/pages/SeedRamp/673517622779888">facebook</a>
  <br/>
  <a href="mailto:team@seedramp.com">team@seedramp.com</a>
  <br/>
  Palo Alto, CA
