!!! 5
%html{html}
  %head
    = input('pages/_head.haml')
    = css('plain.css')
    %title Consent
    %meta{:name=>'description', :content=>'Release consent for video interview all our startups are signing before being interviewed'}
  %body
    %article
      = input('pages/_logo.haml')
      %h1
        Release Consent for Video Interview
      %p
        I agree to participate in the interview (the "Interview") organized by
        SeedRamp LLC (the "SeedRamp").
      %p
        I hereby consent to the photographing of myself,
        the recording of my voice, and the use of these photographs and/or
        recordings singularly or in conjunction with other photographs
        and/or recordings for educational and promotional purposes.
        I understand that the term "photograph" as used herein
        encompasses both still photographs and motion picture footage.
      %p
        I further consent to the reproduction and/or authorization
        by SeedRamp to publish said photographs and recordings of
        my voice on the Internet. Further, I understand that others,
        with or without the consent of SeedRamp may use
        and/or reproduce such photographs and recordings.
      %p
        I hereby release SeedRamp, and any of his/her associated or
        affiliated faculty and institution from all claims of every
        kind on account of such use.
      %p
        %span.data name, title
        %br
        %span.data company name
        %br
        %span.data address
        %br
        %span.data email

