%html
  %head
    %title FAQ
    %link{:type=>'text/css', :href=>'css/safe.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'Frequently asked questions about our interview process hi-tech startups ask'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %h1 How does it work?
      %p
        You schedule an interview.
        You pitch, we ask. Then, we discuss.
        Then, we either give you a check or explain
        why not.
        We video record the entire session and
        publish it <a href="https://www.youtube.com/channel/UCcB3-zxKmcsUbBbwvWduZ5A">online</a>.
        You will have to sign this
        <a href="consent.html">consent</a> before we start talking.
      %p
        We don't care what you do with the money.
        We don't sit on your board and we don't control you anyhow.
      %p
        You may come back to us for more money,
        in a month, not earlier. Also, if we reject you,
        don't hesitate to come back in a month.

      %h1 Can we skip the video?
      %p
        Nope. Video is an important part of our business model
        and marketing strategy. We're not only giving you money,
        but also trying to teach everybody else.
      %p
        If your startup is doing something secret and you don't
        want to disclose the idea, don't. We don't really care
        about the idea. We care about you and your ability
        to implement something.

      %h1 Can we interview via Skype?
      %p
        At the moment we're only doing interviews
        in Palo Alto. You have to be physically present.
        We're planning to start online interviews in April 2016.
        You can <a href="https://calendly.com/yegor256/seedramp-online">schedule one</a>
        right now.

      %h1 What is the interview format?
      %p
        It takes less than an hour. First 15 minutes you explain
        what you got and what you're looking for. Then, for about 20
        minutes we ask questions and discuss. Then, for another 15 minutes
        we will try to explain why you and/or your idea suck. If we fail, you
        get a check.

      %h1 What are your investment criteria?
      %p
        We don't have any specific criteria, besides common sense. To understand
        you and your business idea more, we will ask the following questions:
      %ul
        %li What is your background?
        %li How your product or idea works, technically?
        %li Who are the competitors?
        %li What is your strategy to win against them?
        %li What do you need money for, specifically?
        %li Who is in your team?
        %li Who already invested into this?
        %li What are the plans for future investments?
        %li What risks do you see yourself?

