%html
  %head
    %title We are hiring
    %link{:type=>'text/css', :href=>'/css/plain.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'If you are interested in changing the world, we need you'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %h1 We are hiring!
      %p
        If you're interested in changing the world,
        we need you. We don't have money to hire you yet,
        but you can volunteer.
      %p
        Shoot us an
        = succeed "," do
          %a{:href=>"mailto:volunteer@seedramp.com"} email
        we'll discuss.
      %p
        Thanks.
