%html
  %head
    %title History
    %link{:type=>'text/css', :href=>'/css/plain.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'Full history of interviews and investmetns made since January 2016'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %p
        History of our interviews:

      %table
        %thead
          %tr
            %th date
            %th name
            %th startup
            %th asked for
            %th inves&shy;ted
        %tbody


          %tr
            %td 20 Feb 2016
            %td Dan Rubins
            %td Legal&shy;Robot
            %td $20k
            %td.green
              %a{:href=>'log/2016/02/20/LegalRobot.html'}
                $5k

          %tr
            %td 31 Jan 2016
            %td Stepan Gershuni
            %td Block&shy;notary
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=TkRj6Iadk_w'}
                none

          %tr
            %td 31 Jan 2016
            %td Paul Clarks
            %td After Agency
            %td $11k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=lhzRDNSic0A'}
                none

          %tr
            %td 30 Jan 2016
            %td Trent Lapinski
            %td Mystic&shy;Labs
            %td &mdash;
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=20stkcHz4cg'}
                none

          %tr
            %td 30 Jan 2016
            %td Amanda Frazier
            %td NotPie
            %td $15k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=ouYq6Ci3Ugk'}
                none

          %tr
            %td 29 Jan 2016
            %td Gary Feldman
            %td InTek
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=LYKGu37J8dg'}
                none

          %tr
            %td 23 Jan 2016
            %td Dan Seider
            %td Stigma App
            %td &mdash;
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=EQ4IpbEGSZo'}
                none

          %tr
            %td 19 Jan 2016
            %td Gabe Batstone
            %td Contex&shy;tere
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=XdXLyhA8SyM'}
                none

          %tr
            %td 16 Jan 2016
            %td Dave Rowell
            %td Life&shy;Linker
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=TbjTdJdR5AQ'}
                none

          %tr
            %td 16 Jan 2016
            %td Roman Aleksand&shy;renko
            %td Habit&shy;loop
            %td $12k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=rXUz5--si1s'}
                none
