%html
  %head
    %title History
    %link{:type=>'text/css', :href=>'/css/plain.css?REVISION', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'Full history of interviews and investmetns made since January 2016'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %p
        History of our interviews:

      %table
        %thead
          %tr
            %th date
            %th name
            %th startup
            %th asked for
            %th inves&shy;ted
        %tbody

          %tr
            %td 6 Mar 2016
            %td Alan Jones
            %td
              %a{:href=>"https://www.showgoers.tv"} Show&shy;goers
            %td $6k
            %td.red
              none

          %tr
            %td 6 Mar 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/thomaskreek"} Thomas Kreek
            %td
              %a{:href=>"https://www.lumened.org"} Lumen&shy;Ed
            %td $15k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=x-oepkZ94h0'}
                none

          %tr
            %td 5 Mar 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/rgawdzik"} Robert Gawdzik
            %td
              %a{:href=>"https://meshable.io/map"} Get&shy;Wifi
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=-gway1us_1E'}
                none

          %tr
            %td 5 Mar 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/danishkhanbcn"} Danish Khan
            %td Anony&shy;mous App
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=Zrn2Qdb5Rh4'}
                none

          %tr
            %td 5 Mar 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/chandra-duggirala-md-229a9aa"} Chan&shy;dra Duggi&shy;rala
            %td
              %a{:href=>"http://www.tryfuel.com"} Fuel
            %td $25k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=0X5x-u-1iBE'}
                none

          %tr
            %td 20 Feb 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/danrubins"} Dan Rubins
            %td
              %a{:href=>"http://www.legalrobot.com"} Legal&shy;Robot
            %td $20k
            %td.green
              %a{:href=>'https://www.youtube.com/watch?v=AetgrIGCrSU'} $5k
              &#20;
              %a{:href=>'log/2016/02/20/LegalRobot.html'}
                more

          %tr
            %td 31 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/sgershuni"} Stepan Gershuni
            %td
              %a{:href=>"http://www.blocknotary.com"}  Block&shy;notary
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=TkRj6Iadk_w'}
                none

          %tr
            %td 31 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/pauldavidclark"} Paul Clarks
            %td After Agency
            %td $11k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=lhzRDNSic0A'}
                none

          %tr
            %td 30 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/trentlapinski"} Trent Lapinski
            %td
              %a{:href=>"http://mysticlabs.com/"} Mystic&shy;Labs
            %td &mdash;
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=20stkcHz4cg'}
                none

          %tr
            %td 30 Jan 2016
            %td Amanda Frazier
            %td
              %a{:href=>"http://www.notpie.com"} NotPie
            %td $15k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=ouYq6Ci3Ugk'}
                none

          %tr
            %td 29 Jan 2016
            %td Gary Feldman
            %td InTek
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=LYKGu37J8dg'}
                none

          %tr
            %td 23 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/danielseider"} Dan Seider
            %td Stigma App
            %td &mdash;
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=EQ4IpbEGSZo'}
                none

          %tr
            %td 19 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/batstone"} Gabe Batstone
            %td
              %a{:href=>"http://www.contextere.com"}  Contex&shy;tere
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=XdXLyhA8SyM'}
                none

          %tr
            %td 16 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/dmrowell"} Dave Rowell
            %td
              %a{:href=>"http://www.lifelinker.com"} Life&shy;Linker
            %td $20k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=TbjTdJdR5AQ'}
                none

          %tr
            %td 16 Jan 2016
            %td
              %a{:href=>"https://www.linkedin.com/in/roman-aleksandrenko-b1123b1a"} Roman Aleksand&shy;renko
            %td
              %a{:href=>"http://habitloopapp.com/"} Habit&shy;loop
            %td $12k
            %td.red
              %a{:href=>'https://www.youtube.com/watch?v=rXUz5--si1s'}
                none
