%html
  %head
    %title Thanks!
    %link{:type=>'text/css', :href=>'/css/plain.css', :rel=>'stylesheet'}
    %meta{:name=>'description', :content=>'Your request for interview is received and will processed soon!'}
    = Haml::Engine.new(File.read('pages/_head.haml')).render
    = Haml::Engine.new(File.read('pages/_ga.haml')).render
  %body
    %article
      = Haml::Engine.new(File.read('pages/_logo.haml')).render
      %h1 Thanks!
      %p
        We received your request for interview and will reply
        within 24 hours, to discuss where and how it will happen.
        Thanks!
