# SPDX-FileCopyrightText: Copyright (c) 2016-2026 SeedRamp
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: make
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  make:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.0
          bundler-cache: true
      - run: npm install -g html-minifier
      - run: bundle config set --global path "$(pwd)/vendor/bundle"
      - run: bundle install --no-color
      - run: make -e
      - uses: JamesIves/github-pages-deploy-action@v4.7.6
        if: github.ref == 'refs/heads/master'
        with:
          branch: gh-pages
          folder: target
          clean: true
